[Unit]
Description=My Web
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirector=/usr/share/my-web
ExecStart=dotnet /usr/share/my-web/MyWeb.dll
ExecStop=killall dotnet

[Install]
WantedBy=multi-user.target